<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meuprimeiroapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeuPrimeiroApp">
        <activity
            android:name="greeter.AgendaActivity"
            android:exported="true" />
        <activity
            android:name="greeter.TelaIVActivity"
            android:exported="true" />
        <activity
            android:name="greeter.TelaIIIActivity"
            android:exported="true" />
        <activity
            android:name="greeter.TelaIIActivity"
            android:exported="true" />
        <activity
            android:name="greeter.telaIActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="greeter.TelaInicialActivity"
            android:exported="true" />
        <activity
            android:name="greeter.DadosActivity"
            android:exported="true" />
        <activity
            android:name="greeter.Greeter4Activity"
            android:exported="true" />
        <activity
            android:name="greeter.Greeter3Activity"
            android:exported="true" />
        <activity
            android:name="greeter.PessoasActivity"
            android:exported="true" />
        <activity
            android:name="greeter.MainActivity"
            android:exported="true" />
        <activity
            android:name="greeter.ListasActivity"
            android:exported="true" />
    </application>

</manifest>